[Desktop Entry]
Name=gqueue
Comment=GNOME 2 frontend for Cups queues
Comment[pl]=Nakładka na Cupsa dla GNOME 2
Exec=gqueue
Terminal=false
Icon=gqueue/gqueueicon
Type=Application
Categories=GTK;GNOME;System;
# vi: encoding=utf-8
